
@{
    ViewData["Title"] = "ShoppingCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="#">Alışveriş</a>
                <a class="breadcrumb-item text-dark" href="#">Sepet</a>
                <span class="breadcrumb-item active">Sepet Önizleme</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Cart Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        @await Component.InvokeAsync("_ShoppingCartProductPreviewPartial")
       
        @await Html.PartialAsync("/Views/Discount/ConfirmCoupon.cshtml",new{@code = ViewBag.Code})
      

   
    </div>
</div>
<!-- Cart End -->
