
@{
    ViewData["Title"] = "HomePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@* 
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="#">Ana Sayfa</a>
                <span class="breadcrumb-item active">Alışveriş</span>chrome-extension://nmigaijibiabddkkmjhlehchpmgbokfj/icons/logo-name.png
            </nav>
        </div>
    </div>
</div>
 *@

@await Component.InvokeAsync("_CarouselViewPartial")
 
@await Component.InvokeAsync("_FeatureViewPartial")
   
@await Component.InvokeAsync("_CategoriesViewPartial")
 
@await Component.InvokeAsync("_FeatureProductsViewPartial")

@await Component.InvokeAsync("_OfferViewPartial")

@await Component.InvokeAsync("_RecentProductViewPartial")

@await Component.InvokeAsync("_BrandFooterViewPartial")
