@model List<ResultAboutDto>


    

<div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
    <h5 class="text-secondary text-uppercase mb-4">Hakkımızda</h5>
    @foreach(var item in Model)
{
    <p class="mb-4">@item.Description</p>
    <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>@item.Address</p>
    <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>@item.Email</p>
    <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>@item.Phone</p>
    }
</div>
