@model List<ResultOrderingByUserIdDto>

@{
    ViewData["Title"] = "MyOrderList";
    Layout = "~/Areas/User/Views/Default/Index.cshtml";
}

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Siparişlerim</h4>
              
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                 Sipariş Sahibi
                                </th>
                                <th>
                                 Toplam Fiyat
                                </th>
                                <th>
                                   Tarih
                                </th>
                                <th>
                                   Detay
                                </th>
                                <th>
                                  Sil
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var item in Model)
                            {
                                     <tr>
                                <td class="py-1">
                                        <img src="~/spica/images/faces/face1.jpg" alt="image" />
                                </td>
                                <td>
                                   @item.UserID
                                </td>
                                <td>
                                 @item.TotalPrice
                                </td>
                                <td>
                                   @item.OrderDate.ToString("D")
                                </td>
                                <td>
                                    <a href="#" class="btn-primary">Detaylar</a>
                                    <a href="#" class="btn-warning">Sil</a>
                                </td>
                            </tr>
                            }
                       
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>