<!DOCTYPE html>
<html lang="en">


@await Html.PartialAsync("/Views/UILayoutPartial/_HeadPartial.cshtml")

<body>

    @await Html.PartialAsync("/Views/UILayoutPartial/_TopbarPartial.cshtml")

    @await Html.PartialAsync("/Views/UILayoutPartial/_NavbarPartial.cshtml")
   
    <!--Content-->
    
    @RenderBody()

    <!--End Content -->

    @await Html.PartialAsync("/Views/UILayoutPartial/_FooterPartial.cshtml")

    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>

    @await Html.PartialAsync("/Views/UILayoutPartial/_ScriptPartial.cshtml")

</body>

</html>

    