<aside class="main-sidebar">
    <section class="sidebar">
        <div class="user-panel">
            <div class="pull-left image"> <img src="~/OvioAdmin/html/dist/img/img1.jpg" class="img-circle" alt="User Image"> </div>
            <div class="pull-left info">
                <p>MS Admin</p>
                <a href="#"><i class="fa fa-circle"></i> Çevrimiçi</a>
            </div>
        </div>
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">Menu</li>
    
            <li> <a href="/Home/HomePage"> <i class="fa fa-th"></i> <span>Siteye Git</span></a> </li>
            <li> <a href="#"> <i class="fa fa-th"></i> <span>Dashboard</span></a> </li>
            <li> <a href="#"> <i class="fa fa-th"></i> <span>İstatistik</span></a> </li>
            <li> <a href="/Admin/FeatureSlider/Index"> <i class="fa fa-th"></i> <span>Öne Çıkanlar</span></a> </li>
            <li> <a href="/Admin/Category/CategoryList"> <i class="fa fa-th"></i> <span>Kategoriler</span></a> </li>
            <li> <a href="/Admin/Product/ProductList"> <i class="fa fa-th"></i> <span>Ürünler</span></a> </li>
     
        </ul>
        <!-- sidebar-menu -->
    </section>
</aside>
