@model List<ResultFeatureDto>
@{
    ViewData["Title"] = "FeatureList";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Kategoriler</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i> Ana Sayfa</a></li>
            <li class="active"><i class="fa fa-envelope-o"></i> Tablolar</li>
            <li class="active"><i class="fa fa-table"></i> Öne Çıkan Listesi</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="chart-box">
                    <h4>Öne Çıkan Listesi</h4>
                    <div id="example_filter" class="dataTables_filter pull-right">
                        <a href="/Admin/Feature/CreateFeature/" class="btn btn-default">Yeni Öne Çıkan Girişi</a>
                    </div>
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th class="sortable">ID</th>
                                <th class="sortable">Öne Çıkan Başlık</th>
                                <th class="sortable">İcon</th>
                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {
                            count++;
                            <tr>

                                <td class="text-truncate">@count</td>
                                <td class="text-truncate">@item.Title</td>
                                <td class="text-truncate"><h1 class="fa-regular @item.Icon text-primary m-0 mr-2"></h1></td>
                                <td><a href="/Admin/Feature/UpdateFeature/@item.FeatureId" class="btn btn-warning">Güncelle</a></td>
                                <td><a href="/Admin/Feature/DeleteFeature/@item.FeatureId" class="btn btn-danger">Sil</a></td>
                            </tr>
                        }


                    </table>
                    <ul class="pagination m-bot-0">
                        <li> <a href="#" aria-label="Previous"> <span aria-hidden="true">«</span> </a> </li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li> <a href="#" aria-label="Next"> <span aria-hidden="true">»</span> </a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- content -->
</div>



